In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("csv/test_scores.csv")
df

     name  math  cs
0   david    92  98
1   laura    56  68
2  sanjay    88  81
3     wei    70  80
4    jeff    80  83
5   aamir    49  52
6  venkat    65  66
7   virat    35  30
8  arthur    66  68
9    paul    67  73

In [3]:
maths = df["math"]
cs = df["cs"]

In [5]:
import math

In [69]:
def gradient_descent(x, y):
    # Initialize parameters for the line: slope (m_current) and intercept (y_current)
    m_current = y_current = 0
    iteration = 100000
    n = len(x)
    learning_rate = 0.0001
    previous_cost = None  # To store the cost from the previous iteration for comparison
    
    for i in range(iteration):
        # Predict y values using current parameters
        y_predicted = m_current * x + y_current
        # Calculate mean squared error cost
        cost = (1/n) * sum([val**2 for val in (y - y_predicted)])
        
        # If not the first iteration, compare current cost with previous cost
        if previous_cost is not None:
            print(f"Cost difference: {cost - previous_cost}")  # Show how much cost changed
            if previous_cost < cost:
                # If cost increases, stop (gradient descent should always decrease cost)
                break
            isClose = math.isclose(cost, previous_cost, abs_tol=1e-5)  # Check for convergence
            if isClose:
                print(f"Converged at iteration {i+1} with cost {cost}")
                break
        previous_cost = cost  # Update previous_cost for next iteration
        
        # Calculate gradients for m and y (partial derivatives)
        md = -(2/n) * sum(x * (y - y_predicted))
        bd = -(2/n) * sum(y - y_predicted)
        
        # Update parameters using gradients and learning rate
        m_current -= learning_rate * md
        y_current -= learning_rate * bd
        print(f"Iteration {i+1}: m = {m_current}, b = {y_current}, cost = {cost}")
    
gradient_descent(maths, cs)

Iteration 1: m = 0.9891800000000002, b = 0.013980000000000001, cost = 5199.1
Cost difference: -5152.76695263496
Iteration 2: m = 1.0416176032, b = 0.0147417592, cost = 46.3330473650399
Cost difference: -14.480397501481598
Iteration 3: m = 1.0443971065873279, b = 0.014802799669408, cost = 31.852649863558305
Cost difference: -0.04069780419050062
Iteration 4: m = 1.0445441606668626, b = 0.014826693765467417, cost = 31.811952059367805
Cost difference: -0.00011911600932279498
Iteration 5: m = 1.0445516647187705, b = 0.014848618440205038, cost = 31.811832943358482
Cost difference: -5.080985193472998e-06
Converged at iteration 6 with cost 31.81182786237329

False